/PACT Ignore.yaml
/PACT Settings.yaml
/PACT Data/PACT Config.yaml
*.backup
__pycache__/
*.pyc
# JetBrains Rider
.idea/
*.sln.iml

##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
poetry.lock
